.play-area {
  top: 50%;
  left: 50%;
  width: 90%;
  height: 54vw;
  display:block;
  position: absolute;

  transform: translate(-50%, -50%) scale(0.9);

}

.play-area:hover .card-component {
  transition: left 0.5s, top 0.2s;
}

.table {
  position: absolute;
  width: 80%;
  height: 104%;
  bottom: -4%;
  left:0;


  background-color: rgb(57, 156, 95);
  border-radius: 4vw;

  border-width: 1vw;
  border-color: rgba(19, 19, 19, 0.216);
  border-style: solid;

  box-shadow: -2vw 2vw 1vw rgba(0, 0, 0, 0.189);
}

.title {
  position: absolute;
  width: 40vw;
  height: 12vw;
  left:50%;
  bottom:60%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.title-text {
  position:absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%,-50%);

  color:white;
  font-size: 10vw;
  font-weight: 700;

  text-shadow: -5px 5px 2px rgba(0, 0, 0, 0.439);
}

.my-name {
  position:absolute;
  left: 50%;
  bottom: -60%;

  width: 100%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
  font-weight: 500;

  justify-content: center;
  text-align: center;
  
  opacity: 0.9;
}