.btns {
  position:absolute;
  width: 7vw;
  height: 2.5vw;

  background-color: white;
  border-style: none;
  border-radius: 2vh;

  font-size: 1.3vw;
  font-weight:700;

  transition: opacity 0.3s;
  transform: translate(-50%, -50%);
  box-shadow: -0.2vw 0.2vw 0.1vw rgba(0, 0, 0, 0.189);
}

.btns:hover {
  opacity: 0.9;
  transform: translate(-50%, -46%);
  box-shadow: -0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.189);
}

.deal-btn {
  left:96%;
  top: 50%;
}

.fold-btn {
  left:96%;
  top: 40%;
}

.bet-component {
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: 96%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.bet-btn {
  position:absolute;
  left:50%;
  top: 50%;
}

.input-btn {
  position:absolute;
  left:50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.start-btn {
  width: 15vw;
  height: 5vw;
  left: 50%;
  bottom: 40%;
  border-radius: 3vw;
  transform: translate(-50%,-50%);

  font-size: 2vw;
}

.opp-input {
  position:absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%,-50%);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 7vw;
  border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #00000059;
  height: 1vw;
  border-radius: 1vh;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #00000059;
  height: 1vw;
  width: 7vw;
  border-radius: 1vw;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 1vw;
  width: 1vw;
  border-radius: 23px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  background: white;
}