.card-component {
  position:relative;
  width:11vw;
  height: 14vw;
  left: -0.4vw;
  top: 2vw;
  transition: left 0.5s;
  margin: 1vw;
}

.card-inner {
  width:100%;
  height:100%;
  transition: transform 1s;
  transform-style: preserve-3d
}

.card-front, .card-back {
  position:absolute; 
  width:100%;
  height:100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-smooth {
  transition: left 0.1s;
}

.card-front {
  
  background-color: white;
  border-radius: 2vw;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.189);
  
  padding: 0vh;
  border-style:none;

  display:grid;
  justify-self: center;
  transform-style:flat
}

.card-back {
  background-color: rgb(196, 208, 220);
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.189);
  border-radius: 2vw;

  box-sizing:border-box;
  border: 0.6vw solid white;
  transform: rotateY(180deg);
}

.card-component:hover {
  top: 1.5vw;
}

.hidden {
  transform: rotateY(180deg);
}

.upside-down {
  transform: rotate(180deg);
  position:absolute;
  bottom:0vh;
  right:0vh;
  padding: 0vh;
}

.centered {
  margin:auto;
  text-align: center;
}

.label {
  position:absolute;
  width: 2vw;
  height: 5vw;
  margin: 0.7vw;
}

.big-suit {
  width: 4vw;
  height: 4vw;
  margin: auto;
  font-size: 10vh;
  text-align:center;
  padding:0;
}

.card-value {
  position:absolute;
  width: 90%;
  height: 0;
  left: 0%;
  text-align:center;
}

.label-suit {
  position:absolute;
  width: 2vw;
  height: 2vw;
  bottom: 0;
}

.undealt {
  position: absolute;
  left: -150vw;
}

.card-contents {
  display:block;
}
