.hand-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.38);
  padding: 0.1vw;
  border-radius: 1.5vw;

  width:13vw;
  height:5.5vw;
  
  left: 60%;
  bottom: -10%;

  transform: translate(-17%,-50%);
  text-overflow:clip;
  font-size: 2vw;
  color:white;
  margin:0;

}

.hand-group {
  display: grid;
  left:50%;
  bottom: 66%;
  width: 0%;
  height: 0vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin:0
}

.hand-title {
  text-align: center;
  font-size: 1.2vw;
}

.small-card-background {
  background-color: white;
  position:relative;

  border-radius: 0.6vw;
  width: 2vw;
  height: 3vw;
  color: black;
  
}

.small-label {
  margin:0;
  width:100%;
  height: 100%;
  justify-content: center;
}

.small-label-text {
  margin: 0vh;
  font-size: 1.4vw;
  width: 100%;
  text-align:center;
}

.small-logo {
  position: absolute;
  width: 1vw;
  height: 1vw;
  left: 50%;
  bottom: 0vw;
  transform: translate(-50%,-40%);
}

.five-grid-small {
  grid-template-columns: 2.3vw 2.3vw 2.3vw 2.3vw 2.3vw;
}
