.player {
  position: absolute;
  width: 0%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.player-position-1 {
  bottom: 70%;
  left: 10%;
}

.player-position-2 {
  bottom: 70%;
  left: 35%;
}

.player-position-3 {
  bottom: 70%;
  left: 60%;
}

.player-position-4 {
  bottom: 38%;
  left: 10%;
}

.player-position-5 {
  bottom: 38%;
  left: 60%;
}

.player-position-6 {
  bottom: 6%;
  left: 10%;
}

.player-position-7 {
  bottom: 6%;
  left: 35%;
}

.player-position-8 {
  bottom: 6%;
  left: 60%;
}


.player-name {
  width : 9.5vw;
  height : 15%;
  position: absolute; 
  bottom: 78%;
  left: 0%;
  transform: translateX(-1%);

  background-color: white;
  border-radius: 2vw;
  text-align: center;
  font-weight:600;
  font-size: 1.75vw;

  box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.189);
}

.player-winner {
  background-color: rgb(103, 253, 105);
}

.player-out {
  opacity: 0.5;
}

.player-background {
  position: absolute;
  left: -3.5vw;
  top: 2.5vw;

  background-color: rgba(0, 0, 0, 0);
  width:15.5vw;
  height: 15vw;
  border-radius: 2.4vw;

  border-color:rgba(0, 0, 0, 0.079 );
  border-width: 0.8vw;
  border-style: solid;
}

.currently-active {
  border-color: rgba(255, 255, 255, 0.555);
}

.action {
  position:absolute;

  width: 10vw;
  height: 13%;

  left: 0%;
  top: 100%;

  transform: translate(-5%, -50%);

  border-radius: 2vw;

  background-color: white;
  box-shadow: -2px -3px 2px rgba(0, 0, 0, 0.189);

  color:rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5vw;
  font-weight:700;
  opacity: 0;

  transition: opacity 0.5s;
}

.action-shown {
  opacity: 0.85;
}