
.grid {
  margin:20px;
}

.grid-header {
  margin:auto;
  text-align: center;
  color:white;
}

.container {
  display: grid;
  background-color: rgb(62, 60, 109);
  border-style:solid;
  border-width: 10px;
  border-color:white;
  margin: auto;
  padding: 0;
  width: 540px;
  height: 540px;
  margin-top:10px;
  
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px;

  padding:10px
}

.item {
  background-color: white;
  border-style: solid;
  border-width: 10px;
  color: white;
  margin:5px;
}

.item-1 {
  grid-row: span 3;
  grid-column: span 3;
  background-color: rgb(249, 84, 84);
  border-color:rgb(219, 46, 46);
}

.item-2 {
  grid-row: span 3;
  grid-column: span 2;
  background-color: rgb(84, 249, 164);
  border-color:rgb(40, 188, 126);
}

.item-3 {
  grid-row: span 2;
  grid-column: span 5;
  background-color: rgb(169, 84, 249);
  border-color:rgb(147, 46, 219);
}